container_commands:
    02-create-env:
        command: "touch .env && chmod +r .env"
    03-load-env:
        command: /opt/elasticbeanstalk/bin/get-config --output=JSON environment | jq -r 'keys[] as $k | "\($k)=\(.[$k])"' > .env
    04-create-var-dir:
        command: "rm -rf var/ && mkdir var"
    05-cache:
        command: "php bin/console cache:clear"
    06-change-var-permissions:
        command: "chmod -R 777 var/"
    07-update-db-schema:
        command: "php bin/console doctrine:schema:update --force"
