files:
    "/etc/cron.d/appcron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 * * * * webapp php /var/www/html/bin/console cache:clear
            0 3 * * * webapp php /var/www/html/bin/console league:oauth2-server:clear-expired-tokens
            10 3 * * * webapp php /var/www/html/bin/console app:availability:check-urls
            30 3 * * * webapp php /var/www/html/bin/console app:availability:check-urls
            0 4 * * * webapp php /var/www/html/bin/console app:cms:update-page-timestamps
            0 2 * * * webapp php /var/www/html/bin/console app:social:schedule-posts-for-today

commands:
    01-remove-old-cron:
        command: "rm -f /etc/cron.d/appcron.bak"
